*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.video{
    width: 1520px;
    height: 720px;
    object-fit: cover;
}
header{
    position: relative;
    
}
.nav-container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 10;
}
.nav{
    margin-left: 650px;
}
#logo{
    margin-top: 15px;
    margin-left: 60px;
    font-family: 'Great Vibes';
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}
span#burger.fas.fa-bars.fa-2x.mobile{
    display: none;
 }
  .burger { display: block; list-style-type: none;  }
  .burger ul { text-align: center; }
  .burger li { display: inline-block; width: 19%; list-style: none;  color: #ffffff; }
  .burger li a { display: block; padding: 15px; text-decoration: none; color: #d3fcda; transition: 0.8s; }
  .burger li a:hover {  color: rgb(212, 209, 209);}
  .burger label { display: none; }
  #menu-toggle { display: none; }
  
  @media all and (max-width: 700px) and (min-width: 0px) {
  .burger label { display: block; height: 70px; width: 70px; line-height: 70px; text-align: center; color: rgb(14, 13, 13); font-size: 1.8rem;  cursor: pointer; }
  .burger .nav { display: none; }
  .burger li { width: 100%; }
  #menu-toggle:checked + .nav { display: block; }
  .burger label:active .nav { display: none;  }
}
.p1-header{
    position: absolute;
    top: 250px;
    right: 470px;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Open Sans';
    color: #fff;
}
.p2-header{
    position: absolute;
    top: 355px;
    right: 410px;
    width: 700px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #fff;
    text-align: center;
}
.btn-header{
    position: absolute;
    top: 445px;
    right: 700px;
    width: 135px;
    height: 150px;
    padding: 15px;
    margin-left: 4px;
    margin-top: 10px;
    background-color: #439b9b;
    border: 1px solid transparent;
    border-radius: 20px;
    height: fit-content;
}
.btn-header a{
    text-decoration: none;
    color: #fff;
}
.article-flex{
    margin-top: 20px;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 35px;
}
.video1{
    margin-left: 150px;
    flex: 2;
    border-radius: 15px;
}
.article-text{
    flex: 2;
    margin-right: 50px;
    width: 720px;
    text-align: justify;
}
.p-main{
    font-family: 'Great Vibes';
    font-size: 35px;
    font-weight: 700;
}
.p1-main{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    color: gray;
}
.box1-content{
    height: 280px;
    justify-content: center;
}

#content{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
#allimg{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 40px;
   margin-bottom: 40px;
}
#allimg a{
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Open Sans';
    color: #ffffff;
}
#allimg a:hover{
    color:rgba(191, 196, 201, 0.753);
}
.img-box{
    filter: grayscale(1);
    object-fit: cover;
    width: 350px;
    height: 250px;
}
.img-box{
    cursor: zoom-in;
}

.img-gallry{
    width: 280px;
    height: 246px;
    opacity: 0.7;
    border-radius: 10%;
}
#myImg {
    border-radius: 5px;
    transition: 0.3s;
}
.p-blog{
    text-align: center;
    padding: 20px;
    font-size: 45px;
    font-family: 'Great Vibes';
    font-weight: bolder;
}
.fa-user , .fa-calendar, .fa-heart{
    padding: 3px;
}
.ul-user{
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: rgb(255, 255, 255);
}
.ul-calendar{
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: rgb(255, 255, 255);
}
.ul-heart{
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: rgb(255, 255, 255);
}
.info-text{
    position: absolute;
    bottom: 25;
    left: 25;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: rgb(255, 255, 255);
}
.card-text{
    padding: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.read-more{
    font-weight: 700;
}
.loream-text{
    color: gray;
}
.fa-arrow-right{
    font-size: 10px;
}
.card-text a {
    text-decoration: none;
    color: rgba(2, 1, 58, 0.697);
}
.p-card{
    opacity: 0.9;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10;
    right: 10;
    background-color: #404040;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}
.p1-card{
    opacity: 0.9;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10;
    right: 10;
    background-color: #126c84;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}
.p2-card{
    opacity: 0.9;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10;
    right: 10;
    background-color: #1fa345;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}
.p3-card{
    opacity: 0.9;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10;
    right: 10;
    background-color: rgba(184, 37, 69, 0.753);
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}
.p4-card{
    opacity: 0.9;
    opacity: 0.9;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10;
    right: 10;
    background-color: #1fa345;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}
.p5-card{
    opacity: 0.9;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10;
    right: 10;
    background-color: #126c84;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}
.p6-card{
    opacity: 0.9;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10;
    right: 10;
    background-color: #404040;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}
.p7-card{
    opacity: 0.9;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10;
    right: 10;
    background-color: #1fa345;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}
.ALL-color{
    background-color: #292929;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.LIVESTYLE-color{
    background-color: rgba(184, 37, 69, 0.753);
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.FOOD-color{
    background-color: #126c84;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.NATURE-color{
    background-color: #1fa345;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.PHOTOGRAPHY-color{
    background-color: #404040;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.card-header{
    position: relative;
}
.article-info ,.article-info1,.article-info2,.article-info3,.article-info4,.article-info5,.article-info6,.article-info7{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 20;
}
.card.show{
    animation: fadeIn 1s ease;
}
.card.hide{
    display: none;
    animation: fadeOut 1s ease;
}
@keyframes fadeIn{
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}
@keyframes fadeOut{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
}

#myBtn{
    font-size: 15px;
    position: fixed;
    right: 10px;
    bottom: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.753);
    background: #404040;
    box-shadow: 0 0 10xp #404040;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
#myBtn:active{
    background: #404040;
}
.sticky {
    
    padding: 10px;
    background-color: #404040;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
}
.sticky .burger li a {
    color: #ffffff;
}
.sticky .burger li a:hover{
    color: rgba(213, 194, 198, 0.753);
}
footer{
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    padding: 15px;
    background-color: #404040;
}
.fa-copyright{
    font-size: 15px;
}